<div class = "entry-container">
  <div class = "sign-up-container">
    <h4>Create an account</h4>
    <form action = "/login" method = "post">
      <input name = "username" placeholder = "Enter your email" />
      <input name = "password" placeholder = "Choose a password"  />
      <button type = "submit">Create account</button>
    </form>
    <div class = "login-container">

    </div>

  </div>
</div>
